<!--posts/templates/base.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, 
initial-scale=1.0"/>
        <title>
            {% block title %}
            Sticky Notes Board
            {% endblock title %}
        </title>
        <link rel="stylesheet"href="{% static 'posts/styles.css' %}"/>
    </head>
    <body>
        <header>
            <h1><a href="{% url 'sticky_note_display' %}">Sticky Notes Board</a></h1>  
            <nav>
                <a href="{% url 'sticky_note_create' %}"> Create Sticky Note</a>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
        </footer>
    </body>
</html>